---
import Base from "../../layouts/Base.astro";
import TextList from "../../components/TextList.astro";
import { DataProyects } from "../../data/proyects";
import { sanitizeVTName } from "../../utils/sanitizeVTName";

export function getStaticPaths() {
  return DataProyects.map((project) => ({
    params: { id: project.title.toLowerCase() },
  }));
}

const { id } = Astro.params;
const proyect = DataProyects.find(
  (p) => p.title.toLowerCase() === `${id}`,
);

const vtName = proyect ? sanitizeVTName(proyect.title) : "";
const vtStyles = vtName ? `[data-vt="${vtName}"]{view-transition-name:${vtName}}` : "";
---
<Base vtStyles={vtStyles}>
  <div class="content container">
    <div class="row">
      <div class="col col-12 col-xl-12 col-lg-12">
        {proyect && (
          <a href={`/#${vtName}`} style="cursor:pointer;margin-block:20px;display:block">
            <i class="fas fa-caret-left" style="margin-right:20px"></i>
            Atras
          </a>
        )}
        {proyect && (
          <TextList
            title={proyect.title}
            img={proyect.img}
            single={true}
            imgReplaceTitle={proyect.imgReplaceTitle}
            list={[...proyect.short, ...proyect.description]}
          />
        )}
        <div class="print-force-break"></div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col col-4 col-lg-3 col-md-12 no-breack-print">
          Francisco Blanco
        </div>
        <div class="col col-4 col-lg-5 col-md-12 no-breack-print">
          <div class="rs email">
            <a href="mailto:blancofrancisco34@gmail.com">
              <i class="fas fa-envelope" style="margin-right:5px"></i>
              blancofrancisco34@gmail.com
            </a>
          </div>
        </div>
        <div class="col col-4 col-lg-4 col-md-12 no-breack-print">
          <div class="rs whatsapp">
            <a href="https://api.whatsapp.com/send?phone=573103557200">
              <i class="fab fa-whatsapp" style="margin-right:5px"></i>
              +57 310 355 7200
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</Base>
